DirectoryIndex index.php
# Enable the rewrite engine
RewriteEngine on

# Reset the RewriteBase
RewriteBase /

# Folder Delivery If It Exists On The Server
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Push Every Request To index.php
RewriteRule ^(.*)$ index.php [QSA]